<?xml version="1.0"?>
<!--
/**
 * 1997-2015 Quadra Informatique
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0) that is available
 * through the world-wide-web at this URL: http://www.opensource.org/licenses/OSL-3.0
 * If you are unable to obtain it through the world-wide-web, please send an email
 * to modules@quadra-informatique.fr so we can send you a copy immediately.
 *
 * @author Quadra Informatique <modules@quadra-informatique.fr>
 * @copyright 1997-2015 Quadra Informatique
 * @license http://www.opensource.org/licenses/OSL-3.0 Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Quadra_Cybermut>
            <version>2.0.7</version>
        </Quadra_Cybermut>
    </modules>
    <global>
        <models>
            <cybermut>
                <class>Quadra_Cybermut_Model</class>
                <resourceModel>cybermut_mysql4</resourceModel>
            </cybermut>
            <cybermut_mysql4>
                <class>Quadra_Cybermut_Model_Mysql4</class>
                <entities>
                    <api_debug>
                        <table>cybermut_api_debug</table>
                    </api_debug>
                </entities>
            </cybermut_mysql4>
        </models>
        <blocks>
            <cybermut>
                <class>Quadra_Cybermut_Block</class>
            </cybermut>
        </blocks>
        <helpers>
            <cybermut>
                <class>Quadra_Cybermut_Helper</class>
            </cybermut>
        </helpers>
        <resources>
            <cybermut_setup>
                <setup>
                    <module>Quadra_Cybermut</module>
                    <class>Quadra_Cybermut_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cybermut_setup>
            <cybermut_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cybermut_write>
            <cybermut_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cybermut_read>
        </resources>
        <payment>
            <cybermut_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Néerlandais</name>
                    </NL>
                </languages>
            </cybermut_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <cybermut_payment>/cybermut/payment</cybermut_payment>
        </secure_url>
        <routers>
            <cybermut>
                <use>standard</use>
                <args>
                    <module>Quadra_Cybermut</module>
                    <frontName>cybermut</frontName>
                </args>
            </cybermut>
        </routers>
        <translate>
            <modules>
                <Quadra_Cybermut>
                    <files>
                        <default>Quadra_Cybermut.csv</default>
                    </files>
                </Quadra_Cybermut>
            </modules>
        </translate>
        <layout>
            <updates>
                <cybermut>
                    <file>cybermut.xml</file>
                </cybermut>
            </updates>
        </layout>
        <events>
            <checkout_controller_multishipping_shipping_post>
                <observers>
                    <cybermut>
                        <type>model</type>
                        <class>cybermut/observer</class>
                        <method>initRedirect</method>
                    </cybermut>
                </observers>
            </checkout_controller_multishipping_shipping_post>
            <sales_order_place_after>
                <observers>
                    <cybermut>
                        <type>model</type>
                        <class>cybermut/observer</class>
                        <method>disableEmailForMultishipping</method>
                    </cybermut>
                </observers>
            </sales_order_place_after>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <cybermut>
                        <type>model</type>
                        <class>cybermut/observer</class>
                        <method>multishippingRedirectUrl</method>
                    </cybermut>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Quadra_Cybermut>
                    <files>
                        <default>Quadra_Cybermut.csv</default>
                    </files>
                </Quadra_Cybermut>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <cybermut_payment>
                <model>cybermut/payment</model>
                <title>CyberMUT-P@iement</title>
                <allowspecific>0</allowspecific>
                <transaction_type>O</transaction_type>
                <empty_cart>1</empty_cart>
                <several_times_payment>0</several_times_payment>
                <terms>3</terms>
            </cybermut_payment>
        </payment>
    </default>
</config>
